@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?kmvksu');
  src:  url('icomoon.eot?kmvksu#iefix') format('embedded-opentype'),
    url('icomoon.ttf?kmvksu') format('truetype'),
    url('icomoon.woff?kmvksu') format('woff'),
    url('icomoon.svg?kmvksu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-incline:before {
  content: "\e901";
}
.icon-bridge:before {
  content: "\e900";
}
